@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>
                        <p>Id</p>
                    </th>
                    <th>
                        <p>Name</p>
                    </th>
                    <th>
                        <p>Date of birth</p>
                    </th>
                    <th>
                        <p>Married</p>
                    </th>
                    <th>
                        <p>Phone</p>
                    </th>
                    <th>
                        <p>Salary</p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Contacts)
                {
                <tr>
                    <td>
                        <p>@item.Id</p>
                    </td>
                    <td>
                        <p>@item.Name</p>
                    </td>
                    <td>
                        <p>@item.DateOfBirth.ToShortDateString()</p>
                    </td>
                    <td>
                        <p>@item.Maried</p>
                    </td>
                    <td>
                        <p>@item.Phone</p>
                    </td>
                    <td>
                        <p>@item.Salary$</p>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </body>
</html>
